@import url(../lib/bootstrap-cosmo/css/bootstrap.css);
@import url(../lib/bootstrap-cosmo/css/bootstrap-responsive.min.css);
@import url(../lib/font-awesome/css/font-awesome.min.css);

html{
    /*background: #1e5799;*/
    /*background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8));*/
    /*background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);*/
    /*background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);*/
    /*background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%);*/
    /*background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );*/
}

body{
    /*background: transparent url(../img/bgnoise_lg_transparent.png);*/
    background: url(../img/gaussian_blur.jpg) -300px;
}

.page-header{
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    border: none;
    display: none;    /*removing it temporary*/
}

.page-header .navbar .nav > li > a{
    text-shadow: none;
    color: #6c6c6c;
}

.page-header .navbar-search{
    position: absolute;
    float: none;
    left: 50%;
    margin: 10px 0 0 -150px;
    z-index: 1;
}

@media (max-width: 767px){
    .page-header .navbar-search{
        position: static;
        right: 0;
        margin: 5px 0;
        width: 70%;
        padding-top: 5px;
    }
}

.page-header .navbar-search .search-query{
    border-radius: 0;
    padding-left: 26px;
}

.page-header .navbar{
    margin-bottom: 0;
}

.page-header .navbar .navbar-inner{
    background: transparent;
}

h3{
    font-size: 20px;
}

.sidebar{
    background-color: #fff;
    position: fixed;
    width: 180px;
    padding: 20px 0;
    top: 0;
    color: #595959;
    z-index: 1;
    margin: 40px 0 0 40px;
}

.sidebar, .widget, .box{
    border-radius: 2px;
}

.sidebar, .widget{
    box-shadow: 0 0 12px #343434;
}

.sidebar h2{
    color: inherit;
    font-size: 30px;
    padding-left: 30px;
}

.sidebar .brand{
    font-size: 30px;
    text-shadow: none;
    color: #6c6c6c;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-bottom: 35px;
}

.sidebar .brand:hover{
    color: #525252;
}

.side-nav{
    font-size: 14px;
    margin: 0;
    font-weight: 600;
}

.side-nav li{
    list-style: none;
}

.side-nav li.active{
    box-shadow: -1px 0 1px gray;
    color: #da3712;
    background: #fff;
}

.side-nav li:hover{
    color: #da3712;
}

.side-nav li.active:after,
.side-nav li:hover:after{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.side-nav li a{
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 20px 30px 20px;
}

.side-nav li:after{
    /*content: "";*/
    /*display: block;*/
    /*border-top: 1px solid #eeeeee;*/
    /*border-bottom: 1px solid #fafafa;*/
    /*margin: 0 20px;*/
}

.wrap{
    margin-left: 220px;
}

.content{
    min-height: 900px;
    padding: 40px;

}

/* basic inputs*/

input[type=search], input.search {
    padding-left: 26px;
    background-color:white;
    background:url(../img/search.png) 5px 5px no-repeat #fff;
}


/* --------------------------------------------------------	*/
/*	Custom styled scrollbar */
/* --------------------------------------------------------	*/
html:not(.osx) ::-webkit-scrollbar {
    width: 5px;

}
html:not(.osx) ::-webkit-scrollbar-track-piece {

    background-color: #eee;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
}
html:not(.osx) ::-webkit-scrollbar-thumb:vertical {
    opacity:0.4;
    background-color: #da3712;
}

/* some overrides*/

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
    background-color: transparent;
    color: #da3712;
    text-decoration: none;
}

textarea:focus, input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus{
    border-color: #bbbbbb;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
    color: #6c6c6c;
}

/*boxes*/
.box{
    padding: 5px;
    color: #ffffff;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    line-height: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.box .description{
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.box.red{
    background: #e5603b;
}

.box.orange{
    background: #eac85e;
}

.box.green{
    background: #56bc76;
}

.box.blue{
    background: #618fb0;
}

.box.purple{
    background: #A700AE;
}

.box.pink{
    background: #E671B8;
}

.box.brown{
    background: #A05000;
}

.box.lime{
    background: #8CBF26;
}

.box.teal{
    background: #2eb4dc;
}

.box.dark-red{
    background: #d04f4f;
}

.widget{
    -webkit-transition:box-shadow linear .2s;
    -moz-transition:box-shadow linear .2s;
    -o-transition:box-shadow linear .2s;
    transition:box-shadow linear .2s;
}

.widget:hover{
    -webkit-box-shadow: 0 0 3px #bbb;
    -moz-box-shadow: 0 0 3px #bbb;
    box-shadow: 0 0 8px #000;

    -webkit-transition:box-shadow linear .2s;
    -moz-transition:box-shadow linear .2s;
    -o-transition:box-shadow linear .2s;
    transition:box-shadow linear .2s;
}


.widget{
    padding: 15px;
    color: #444;
    background: #ffffff;

    margin-bottom: 20px;
}

.widget.big{
    height: 315px;
}

.widget.big .body{
    height: 280px;
}

.widget header{
    position: relative;
    background: inherit;
}

.widget header h2,
.widget header h3,
.widget header h4{
    margin: 0;
    line-height: 1em;
    color: inherit;
}

.widget .body{
    margin-top: 15px;
}

.widget .actions{
    position: absolute;
    right: 0;
    top: 0;
}

.widget .actions a{
    color: inherit;
    text-decoration: none;
}

.chart-inline, .chart-inline svg{
    height: 44px;
}

.chart-inline{
    margin-bottom: 12px;
}

.chart-inline h4{
    padding-left: 10px;
    padding-top: 4px;
    margin: 0;
}

.chart-inline .info{
    padding: 4px 0;
    text-align: right;
    font-weight: 700;
}