.nvd3.nv-stackedarea path.nv-area {
    fill-opacity: .85;
}

.nvd3.nv-stackedarea path.nv-area.hover {
    fill-opacity: .95;
}

.nvd3 .nv-x .nv-axis line{
    display: none;
}

svg text {
    fill: #555;
}