.chart svg{
    min-height: 280px;
}

.nvtooltip h4 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.nvd3 .nv-axis line.zero{
    display: none;
}

.nv-legend text{
    fill: #666;
    stroke-opacity: .9;
}

.nv-legend circle{
    fill: #666;
    stroke: #666;
}