@include sidebar-icons(".sidebar-icons");

$i: 1;
@each $color in $colors{

  .#{nth($color_names, $i)}{
    background: #{$color} !important;
    color:  #ffffff !important;
  }
  $i: $i + 1;
}

$i: 1;
@each $color in $light_colors{

  .light-#{nth($light_color_names, $i)}{
    background: $color !important;
  }
  $i: $i + 1;
}

$i: 1;
@each $color in $colors{

  .color-#{nth($color_names, $i)}{
    color: #{$color} !important;
  }
  $i: $i + 1;
}

/***********************************/
/**          VALIDATION          **/
/**********************************/


input.parsley-error{
  @include invalid-border;
}

.parsley-error-list{
  font-size: $fontSizeSmall;

  li{
    list-style: none;
    color: $orange;
  }
}

/***********************************/
/**          LOGO                **/
/**********************************/

.logo{
  position: absolute;
  left: 65px;
  top: 20px;
  a{
    color: #ffffff;
    text-decoration: none;
  }
}

/***********************************/
/**          SIDEBAR             **/
/**********************************/

.sidebar{
  @include border-radius($widget-border-radius);
  @include box-shadow($widget-shadow);

  background-color: #fff;
  position: absolute;
  width: 160px;
  padding: 20px 0;
  top: 0;
  color: $textColor;
  z-index: 1;
  margin: $sidebarTopMargin 0 0 25px;

  .settings{
    margin-top: 20px;
    text-align: center;

    .btn-auto{
      display: none;
    }
  }

  &.sidebar-icons{
    @include sidebar-settings;
  }
}

.side-nav{
  margin: 0;

  li{
    list-style: none;

    i[class*=icon]{
      line-height: 20px;
      color: lighten($textColor, 10%);
      float: right;
    }

    a:hover, a:focus{
      background: darken($lightGray,1%);
    }

    a{
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 10px 20px;
    }

    a.accordion-toggle:not(.collapsed) + .accordion-body li.active a{
      background: darken($lightGray,1%);
    }
  }

  & > li.active > a{
    border-left: 4px solid $blue;
    padding-left: 16px;
    background: darken($lightGray,1%);
  }

  .accordion-body li a{
    padding: 4px 10px;
    font-weight: 300;
    background: #ffffff;

    padding-left: 40px;

    &:hover, &:focus{
        background: darken($lightGray,1%);
    }
  }

  .accordion-group{
    margin: 0;
    border: none;
    @include border-radius(0);
  }
}

.sidebar-on-right{
  .sidebar{
    right: 0;
    margin: $sidebarTopMargin 25px 0 0;

    &.sidebar-icons{
      margin-right: 1.6%;
    }
  }

  .side-nav > li.active > a{
    border-left: none;
    border-right: 4px solid $blue;
    padding-left: 20px;
    padding-right: 16px;
    background: $lightGray;
  }

  .wrap{
    margin-left: 0;
    margin-right: $wrapMargin;

    &.sidebar-icons{
      margin-right: 62px;
    }
  }

  .logo{
    right: 67px;
    left: auto;

    &.sidebar-icons{
      left: auto;
      right: 1.6%;
      padding-right: 5px;
      width: 40px;
      top: 15px;
    }
  }
}

.sidebar-hidden{
  .sidebar, .logo{
    display: none;
  }

  .wrap{
    margin-left: 0;
    margin-right: 0;
    &.sidebar-icons{
      margin-right: 0;
    }
  }
}

/***********************************/
/**          CONTENT              **/
/**********************************/



/*main content*/
.wrap{
  margin-left: $wrapMargin;
}

/*content except for header*/
.content{
  padding: 25px 3.3%;
  @include transition(margin-top .2s);
}

/***********************************/
/**          MESSAGES            **/
/**********************************/

.messages .see-all{
  padding: 6px 10px;
}

.messages > li > a{
  padding: 8px 10px;

  &:hover .text{
    color: #ddd;
  }
}

.message{

  img{
    float: left;
    width: 42px;
  }

  .details{
    margin-left: 52px;
  }

  .text{
    font-size: $fontSizeSmall;
    color: lighten($textColor, 5%);
  }
}

/***********************************/
/**          BOXES               **/
/**********************************/


/*boxes*/
.box{
  @include border-radius($widget-border-radius);

  padding: 5px;
  text-align: center;
  @include box-shadow($widget-shadow);
  margin-bottom: $box-margin-bottom;

  .description{
    font-weight: 400;
    text-align: center;
    margin: 10px -5px;
  }

  .icon, .big-text{
    margin-top: 15px;
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    //font-weight: 700;
  }
}

/***********************************/
/**          WIDGET               **/
/**********************************/


.widget{
  @include border-radius($widget-border-radius);
  @include box-shadow($widget-shadow);
  padding: 15px;
  color: $textColor;
  background: #ffffff;
  margin-bottom: $box-margin-bottom;
  position: relative;

  &.normal{
    height: 220px;
  }

  &.large{
    height: 315px;

    .body{
      height: 280px;
    }
  }

  &.xlarge{
    height: 415px;

    .body{
      height: 380px;
    }
  }

  &.tiny{
    height: 188px;
  }

  &.tiny-x2{
    height: 446px;
  }

  &.transparent{
    background: transparent;
    @include box-shadow(none);
  }

  &.adaptive-background{
    background: rgba(white, 0.9);
  }

  & > header{
    position: relative;
    background: none;

    #{headings(1,5)}{
      margin: 0;
      line-height: 20px;
      color: inherit;
    }

    h4{
      font-size: $baseFontSize + 1;
    }
  }

  .body{
    margin-top: 15px;
  }

  & > footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px 0 0;
  }

  .actions{
    position: absolute;
    right: 0;
    top: -2px;
    a{
      color: inherit;
      text-decoration: none;
    }
  }

  .chart{
    height: 100%;
  }
}

/***********************************/
/**          STATS                **/
/**********************************/

.stat-widget{
  height: 315px;

  svg{
    height: 100%;
  }

  .chart-container{
    height: 100%;
  }

  header{
    margin: -15px -15px 0;
    height: 110px;
    @include box-sizing(border-box);
    @include box-shadow(0 1px 1px #888);
  }

  .nvtooltip{
    color: $textColor;
  }

  .chart-info{
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 0;
    line-height: 1em;

    .total{
      font-size: $fontSizeLarge;
      letter-spacing: 1px;
    }

    .percentage{
      font-size: $baseFontSize;
      letter-spacing: 0;
    }
  }
}

.stat-widget-body{
  margin-top: 20px;

  .most-from, .time-period{
    font-size: $fontSizeSmall;
  }

  .value{
    font-size: $fontSizeLarge;

    a{
      color: inherit;

      i{
        font-size: small;
      }
    }
  }

  .details{
    margin-top: 18px;
  }

  .detail{
    padding: 8px 5px 7px;
    @include border-radius($baseBorderRadius);
    cursor: pointer;
    background: darken($lightGray, 1%);

    .value{
      font-weight: 400;
    }
  }
}

.stat-widget-additional{
  margin-top: 17px;
  .sparkline{
    margin-top: 5px;
    padding-right: 10px;
  }

  .change{
    @include box-sizing(border-box);
    @include border-radius($baseBorderRadius);
    height: 40px;
    width: 70%;
    line-height: 40px;
    text-align: center;
    margin-top: 5px;
    font-size: $fontSizeLarge;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
  }
}

/***********************************/
/**          CHARTS               **/
/**********************************/


.large .pie-chart{
  height: 212px;
}

.xlarge .pie-chart{
  height: 298px;
}

.pie-chart{
  position: relative;

  .total{
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .files-size{
    font-weight: 700;
    font-size: $baseFontSize * 1.5;
  }

  .visits{
    font-weight: 700;
    font-size: $fontSizeLarge;
  }
}

.pie-chart-footer{

  .controls{
    margin-top: 16px;
    width: 100%;
  }

  .control{
    background: darken($lightGray, 2%);
    text-align: center;
    font-weight: 400;
    padding: 3px 2%;
    color: lighten($textColor, 10%);
    width: 20.625%;
    cursor: pointer;
    @include user-select(none);

    margin-left: 0.5%;

    float:left;

    &:first-child{
      border-bottom-left-radius: $baseBorderRadius;
      margin-left: 0;
    }

    &:last-child{
      border-bottom-right-radius: $baseBorderRadius;
    }

    &.disabled{
      border-top: 3px solid transparent !important;
    }

    .key{
      font-size: $fontSizeSmall;
      font-weight: 400;
      margin: 0;
    }

    .value{
      font-size: $fontSizeLarge;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }
}

/***********************************/
/**          HEADER               **/
/**********************************/

.page-header{

  border: none;
  margin: 22px 3.3% 0;
  padding: 0;
  position: relative;

  @include border-radius($widget-border-radius);

  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #ffffff;
  }

  .nav{

    &.right > li{
      position: relative;
      & > a, & > a:visited{
        width: 45px;
        padding: 0;
        font-size: $baseFontSize * 1.6;
        outline: 0;

        &:hover{
          color: white;
          @include transition(all 0.1s);
        }
      }

      .count{
        position: absolute;
        bottom: 2px;
        right: 2px;
        font-size: $fontSizeIndex;
        font-weight: 400;
        background:  rgba(darken($textColor, 20%), .55);
        color: rgba(white, 0.9);
        line-height: 1em;
        padding: 2px 4px;
        @include border-radius(10px);
      }
    }

    & > li{

      background: none;

      &.active > a, &.active > a:visited{
        background: none;
        @include box-shadow(none);
        color: white;

        &:hover{
          color: white;
          background: none;
          @include box-shadow(none);
        }
      }

      &.divider{
        display: block;
        height: 38px;
        width: 1px;
        margin: 0 20px;
        $experimental-support-for-svg: true;
        @include background(linear-gradient(rgba(0,0,0,0), rgba($textColor, .5), rgba(0,0,0,0)));
        $experimental-support-for-svg: false;
      }

      & > a, & > a:visited{
        background: none;
        text-align: center;
        vertical-align: middle;
        line-height: 38px;
        color: rgba(darken($textColor, 20%), .5);
        text-shadow: none;
        padding: 0 10px;
        @include transition(all 0.1s);

        &:hover, &:focus{
          color: white;
        }
      }
    }
  }

  .popover{
    background: $popoverBackground;
    @include box-shadow(none);
    @include border-radius(0);
    border: none;
    color: white;
    width: 210px;
    font-size: $fontSizeSmall;

    &.bottom .arrow{
      border-bottom-color: transparent;
      &:after{
        border-bottom-color: $popoverBackground;
      }
    }

    .btn-group{
      margin-top: 0;
    }
  }
}

.setting{
  font-weight: 400;
}

.setting + .setting{
  margin-top: 5px;
}

.navbar{
  margin: 0;

  .btn-navbar {
    border: none;
    @include box-shadow(none);
  }
}

.navbar-inner{
  padding: 0;
  border: none;
  @include border-radius(0);
  @include box-shadow(none);
}

.notifications{
  margin: 7px 20px 7px 0;

  .alert{
    background: rgba(darken($textColor, 20%), .32);
    border: none;
    font-size: $fontSizeSmall;
    margin-bottom: 0;
    padding: 2px 9px;
    color: white;
    text-shadow: none;
    @include border-radius(10px);

    a{
      color: white;
      font-weight: 600;
    }
  }

  .close{
    position: static;
    margin: 1px 0 1px 2px;
  }
}

/***********************************/
/**          ACCOUNT             **/
/**********************************/


.account{
  width: 180px;
  font-weight: 400;
}

.account-picture{
  padding: 5px 10px;
  img{
    width: 50px;
    margin-right: 5px;
  }
}

.account > li > a{
  padding: 7px 10px;
}

/***********************************/
/**          LOGIN                **/
/**********************************/

.single-widget-container {
  left: 0;
  top: 50%;
  margin-top: -(385px / 2);
  position: absolute;
  width: 100%;

  .widget {
    margin: 0 auto;
  }
}

.login-widget, .registration-widget {
  width: 350px;
  padding-bottom: 0;

  header {
    margin: 15px 0 25px 0;
  }

  input[type="email"],
  input[type="password"]{
    width: 313px;
  }

  .form-actions {
    margin: 0 -15px;
    padding: 20px 15px 0 15px;

    .btn-large{
      padding: 10px 18px;
    }

    .small-circle {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      background: rgba(0,0,0,.2);
      vertical-align: middle;

      i{
        position: relative;
        left: 1px;
      }
    }
    .forgot {
      color: #867868;
      text-align: center;
      text-decoration: underline;
      padding: 15px 0 15px 0;
    }
  }

  footer{
    margin: 0 -15px;
    position: static;
  }

  .facebook-login {
    height: 30px;
    background: $blue;
    text-align: center;
    padding-top: 10px;

    a {
      color: #ffffff;
      display: block;
      text-shadow: none;
      text-decoration: none;
    }

  }
}

/***********************************/
/**          CHAT                 **/
/**********************************/

.chat-messages{
  padding-right: 15px; //some space for scroll
}

.chat-footer{
  height: 40px;
  @include box-sizing(border-box);
  padding-top: 10px;
  input{
    margin-bottom: 0;
  }
}

.chat-message{
  @include clearfix;
  .icon{
    position: relative;
    z-index: 1;
    background: darken($lightGray, 1%);
    text-align: center;
    color: white;
    width: 48px;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    @include border-radius(48px);

    img{
      position: relative;
      top: -2px;
      width: 45px;
      height: 45px;
    }
  }

  .time{
    font-size: $fontSizeSmall;
    line-height: 1.5em;
    text-align: center;
  }
}

.chat-message + .chat-message{
  margin-top: 10px;
}

.chat-message-body{
  margin-left: 60px;
  padding: 10px;
  background: darken($lightGray, 1%);
  //font-size: $fontSizeSmall;
  @include border-radius($baseBorderRadius);

  &.on-left{
    margin-left: 0;
    margin-right: 60px;
  }

  .sender{
    font-weight: 600;
  }
}

/***********************************/
/**          OVERVIEW-widgets     **/
/**********************************/

.widget-overview{
  padding: 15px;

  .title{
    margin-top: 0;
  }

  .stats{
    margin-top: 10px;

    &.activity{
      .icon{
        text-align: center;
      }

      .value{
        text-align: right;
        font-size: $fontSizeLarge;
        font-weight: 400;
      }

      .row-fluid{
        margin-top: 10px;
      }
    }

    .key{
      line-height: 18px;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
}

/***********************************/
/**          BUTTONS              **/
/**********************************/

.btn{
  color: #ffffff;
  text-shadow: none;

  @include box-shadow(none);

  &:hover,
  &:focus {
    color: white;
    @include box-shadow(inset 0 1px 5px rgba(0, 0, 0, 0.08));
  }

  &.active:hover{
    color: $grayDark;
    @include box-shadow(inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05));
  }

  .caret{
    border-top-color: #fff;
  }

  &.disabled,
  &[disabled] {
    color: white;
  }
}

.btn-primary,
.btn-warning,
.btn-danger,
.btn-success,
.btn-info{
  &.active{
    color: rgba(white, .9);
    &:hover{
      color: rgba(white, .9);
    }
  }
}

.btn-transparent{
  background: rgba(darken($textColor, 20%), .4);
  color: white;
  text-shadow: none;
  @include box-shadow(none);

  &:hover, &.active:hover{
    background: rgba(darken($textColor, 20%), .5);
    color: #ffffff;
  }

  &.active{
    color: #ffffff;
    background: rgba(darken($textColor, 20%), .75);
  }

  .caret{
    border-top-color: $textColor;
  }
}

.btn-inverse{
  color: $textColor;
  border-bottom-color: rgba(0, 0, 0, .2);

  &:hover,
  &:focus{
    color: $textColor;
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.08));
  }

  &.active,
  &.active:hover,
  &.active:focus{
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.08));
    color: $textColor;
  }

  &.disabled,
  &[disabled] {
    color: $textColor;
  }

}

/***********************************/
/**          FORMS                **/
/**********************************/

.form-horizontal.label-left .control-label{
  text-align: left;
}

.form-condensed{
  .control-label{
    width: 100px;
  }

  .controls{
    margin-left: 120px;
  }
}

.section{
  font-size: $baseFontSize + 1px;
  color: $textLightGray;
  vertical-align: middle;
  line-height: 30px;
  padding: 10px 0 0;

  small{
    font-size: $fontSizeSmall;
    color: $smallsColor;
    font-weight: 600;
  }
}

.controls + .controls{
  margin-top: 10px;
}

.help-block{
  font-size: $fontSizeSmall;
}

.input-prepend, .input-apppend{
  &.input-padding-increased{
    input{
      @include box-sizing(border-box);
      height: 38px;
      padding: 8px 10px;

      &[type=search], &.search{
        background-position: 5px 10px;
        padding-left: 26px;
      }
    }

    .add-on{
      height: 28px;
      line-height: 28px;
      min-width: 26px;
      vertical-align: middle;
    }
  }
}

input.input-padding-increased{
  @include box-sizing(border-box);
  height: 38px;
  padding: 8px 10px;

  &[type=search], &.search{
    background-position: 5px 10px;
    padding-left: 26px;
  }
}

.select-block-level{
  width: 100%;
}

.controls .bootstrap-select.btn-group{
  &[class*='span']{
    float: none;
    display: inline-block;
    margin-left: 0;

    .btn{
      width: 100%;
    }
  }

  .dropdown-menu {
    width: 100%;
  }
}

/***********************************/
/**          ICONS                **/
/**********************************/

.icons > section{
  margin-top: 20px;
}

.the-icons li{
  line-height: 40px;
  i{
    @include transition(font-size .2s);
  }

  &:hover i{
    font-size: 26px;
  }
}

.i-code{
  display: none;
}

/***********************************/
/**          TABS                 **/
/**********************************/

.widget-tabs{
  background: none;
  @include box-shadow(none);
  padding: 0;

  .body{
    background: #ffffff;
    margin-top: 0;
    @include box-shadow($widget-shadow);
    padding: 15px;
    @include border-radius(0 0 $baseBorderRadius $baseBorderRadius);
  }

  .nav > li > a{
    padding-top: 7px;
    padding-bottom: 6px;
    @include box-shadow(0 -2px 2px rgba($shadowGray, .5));
  }

  .nav > li:not(.active) > a{
    background: #ffffff;
    border-bottom: none;
    color: $textColor;
  }

  .nav > li:first-child > a{
    border-left: none;
  }
}

.nav-tabs > li > a{
  color: $textColor;
}

//base look for inner tabs
.widget:not(.widget-tabs){
  .tab-content{
    background: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    @include border-radius(0 0 $baseBorderRadius $baseBorderRadius);
  }

  .tabs-below {
    .tab-content{
      border-top: 1px solid #ddd;
      border-bottom: none;
      @include border-radius($baseBorderRadius $baseBorderRadius 0 0);
    }
  }

  .tabs-left {
    .tab-content{
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      @include border-radius(0 $baseBorderRadius $baseBorderRadius 0);
    }
  }

  .tabs-right {
    .tab-content{
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      @include border-radius($baseBorderRadius 0 0 $baseBorderRadius);
    }
  }
}

/***********************************/
/**          ACCORDION           **/
/**********************************/

.accordion-group{
  background: #ffffff;

  $i: 1;
  @each $color in $colors{

    &:nth-child(#{$i}n) .accordion-heading{
      border-left: 5px solid #{$color};
    }
    $i: $i + 1;
  }

  .accordion-heading a{
    color: $textColor;
    font-weight: 600;
  }
}


/***********************************/
/**          PROGRESSBARS         **/
/**********************************/

.progress{
  background: rgba(black, .15);
}

.progress-small{
  height: 8px;
}

// Inverse
.progress-inverse .bar, .progress .bar-inverse {
  @include gradient-vertical($textColor, $textColor);
}
.progress-inverse.progress-striped .bar, .progress-striped .bar-warning {
  @include gradient-striped($textColor);
}

/***********************************/
/**          MAPS                **/
/**********************************/

.map{
  height: 100%;
}

/***********************************/
/**          EVENTS               **/
/**********************************/

.external-event {
  margin: 15px 0;
  padding: 5px 10px;
  background-color: $red;
  color: #fff;
  cursor: pointer;
  $i: 1;
  @each $color in $colors{

    &:nth-child(#{$i}n){
      background-color: #{$color};
    }
    $i: $i + 1;
  }

}

/***********************************/
/**          THUMBNAILS          **/
/**********************************/

.thumbnail img{
  width: 100%;
}

/***********************************/
/**          FILES                **/
/**********************************/

.dropzone{
  border: 3px dashed $smallsColor;
  margin-top: 10px;
  font-size: 40px;
  color: $smallsColor;
  line-height: 100px;
  padding-left: 5%;
  vertical-align: middle;

  @include clearfix;

  i{
    margin-top: 20px;
    padding-right: 10%;
  }
}

/***********************************/
/**          FEED                 **/
/**********************************/

.feed{
  height: 100%;
  //overflow-y: auto;
  position: relative;

  .wrapper{
    position: relative;
  }

  .vertical-line{
    height: 100%;
    width: 2px;
    background: darken($lightGray, 3%);
    position: absolute;
    left: 13px;
  }
}

.feed-item{
  @include clearfix;
  .icon{
    position: relative;
    z-index: 1;
    background: darken($lightGray, 3%);
    text-align: center;
    color: white;
    width: 28px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    @include border-radius(20px);
    font-size: 16px;

    img{
      position: relative;
      top: -2px;
      width: 26px;
      height: 26px;
    }
  }
}

.feed-item + .feed-item{
  margin-top: 10px;
}

.feed-item-body{
  padding-top: 3px;
  margin-left: 40px;
  vertical-align: bottom;

  .time{
    font-size: $fontSizeSmall;
    line-height: 1.5em;
  }
}

/***********************************/
/**          TABLES               **/
/**********************************/

.table-images{
  td {
    height: 60px;
    vertical-align: middle;
    img{
      height: 60px;
    }
  }
}

.table-colored{
  $i: 1;
  @each $color in $colors{

    tbody tr:nth-child(#{$i}n){
      color: #{$color};
    }
    $i: $i + 1;
  }
}

.table-editable th a{
  display: block;
  cursor: pointer;
  color: $textColor;
  text-decoration: underline;
}

.table-editable td.editor,
.table-editable tbody tr:nth-child(odd) td.editor {
  background-color: rgba($blue, 0.05);
  outline: 1px solid $blue;
  outline-offset: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: width, outline, background-color;
  -moz-transition-property: width, outline, background-color;
  -o-transition-property: width, outline, background-color;
  transition-property: width, outline, background-color;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.table-editable td.editor input[type=text] {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.table-editable td.editor.error,
.table-editable tbody tr:nth-child(odd) td.editor.error {
  background-color: rgba($orange, 0.1);
  outline: 1px solid $orange;
}

.table-editable td.editor :focus,
.table-editable th.editor :focus {
  outline: 0;
}

.table-editable .sort-caret {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 0.3em;
  border: 0;
  content: "";
  font: 15px FontAwesome;
}

.table-editable .ascending .sort-caret {
  &:before{
    content: "\f0d8";
  }
}

.table-editable .descending .sort-caret {
  &:before{
    content: "\f0d7";
  }
}

/***********************************/
/**          FILEUPLOAD          **/
/**********************************/

.fileupload-progress.fade{

  &.in .progress{
    margin-top: 20px;
  }

  .progress{
    margin: 0;
  }
}

/***********************************/
/**          SEARCH              **/
/**********************************/

.search-result{
  padding: 5px 15px 5px 10px;
  margin-bottom: 10px;

  h4{
    margin: 0;
  }

  &:nth-child(even){
    background: $lightGray;
  }

  $i: 1;
  @each $color in $colors{

    &:nth-child(#{$i}n){
      border-left: 5px solid #{$color};
    }
    $i: $i + 1;
  }

  &:hover{
    cursor: pointer;
    padding-left: 10px;

    border-left-color: $lightGray;
    @include transition(border-left-color .2s);
  }

  & > p{
    margin-bottom: 0px;
  }
}

/***********************************/
/**          404                  **/
/**********************************/

.widget-404{

  h1{
    font-size: 140px;
    line-height: 140px;
    margin: 0;
    text-rendering: optimizeLegibility;
    color: #ffffff;
  }

  .description{
    vertical-align: middle;
    padding-top: 5px;
  }
}

.widget-404-search, .widget-404{
  width: 600px;
}

.single-widget-container .widget-404-search{
  margin-top: 40px;

  .search-field{
    width: 456px;
  }
}

/***********************************/
/**          SLIMSCROLL OVERRIDE  **/
/**********************************/

.slimScrollBar{
  @include border-radius($baseBorderRadius !important);
}

/***********************************/
/**          UTILS                **/
/**********************************/

.text-align-center{
  text-align: center;
}

.text-align-right{
  text-align: right;
}

.well-white{
  background: #ffffff;
}

.margin-top{
  margin-top: 10px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.no-margin{
  margin: 0 !important;
}