//some basic definitions
//html-elements only. no classes

@mixin background-radial-gradient($figure, $type, $position_x, $position_y, $color_1, $color_2, $color_3){
  $experimental-support-for-svg: true;
  //w3c standards
  @include background(
      radial-gradient(
          $type $figure at $position_x $position_y,
          $color_1,
          $color_2,
          $color_3
      ),
      image-url("bgnoise_lg_dark.png")
  );
  //webkit-specific
  background: -webkit-radial-gradient(
      $position_x $position_y, $type $figure,
      $color_1,
      $color_2,
      $color_3
  ),
  url("../img/bgnoise_lg_dark.png");

  //moz-specific
  background: -moz-radial-gradient(
      $position_x $position_y, $type $figure,
      $color_1,
      $color_2,
      $color_3
  ),
  url("../img/bgnoise_lg_dark.png");
}

html{
  min-height: 100%;
}

body{
  min-width: 400px;
  font-weight: 300;
  padding-bottom: 100px;
  @include background-radial-gradient(ellipse, farthest-side, 80%, 0,
    rgba(194, 123, 108, 0.94),
    rgba(238, 231, 189, 0.94),
    rgba(137, 111, 82, 0.94)
  );
  &.background-two{
    @include background-radial-gradient(ellipse, farthest-side, 10%, 0,
      rgba(41, 57, 64, 0.95),
      rgba(148, 206, 184, 0.95),
      rgba(227, 222, 157, 0.95)
    );
  }
}

#{headings()} {
  font-weight: 300;

  small{
    color: #dfdfdf;
  }
}
h1 {
  font-size: 50px;
}
h2{
  font-size: 26px;
}

h3{
  font-size: 20px;
}

h4 {
  font-size: 15px;
}
h5,
h6 {
  font-size: 11px;
}

input[type=search], input.search {
  padding-left: 26px;
  background-color:white;
  background:url(../img/search.png) 5px 5px no-repeat #fff;
}

ul ul,
ol ul{
  list-style: none;
}

/* --------------------------------------------------------	*/
/*	Custom styled scrollbar */
/* --------------------------------------------------------	*/
html:not(.osx) ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
html:not(.osx) ::-webkit-scrollbar-track-piece {

  background-color: #eee;
  box-shadow:inset 0 0 10px rgba(0,0,0,0.2);
}
html:not(.osx) ::-webkit-scrollbar-thumb:vertical {
  opacity:0.4;
  background-color: $linkRed;
}

html:not(.osx) ::-webkit-scrollbar-thumb:horizontal {
  opacity:0.4;
  background-color: $linkRed;
}