@media (max-height: 800px){
  .side-nav li a{
    padding: 8px 30px;
  }
}

@media (max-width: 480px){
  .content > .row-fluid.box-row > .span2{
    width: 48.61878%;
    *width: 48.56559%;
    margin-left: 2.76243%;
    *margin-left: 2.70924%;
    float: left;

    &:nth-child(odd){
      margin-left: 0;
    }
  }

  .box-row.fixed .box{
    height: 96px;
  }

  .form-condensed .controls{
    margin-left: 0;
  }

  body{
    padding-left: 0;
    padding-right: 0;
  }

  .chat .message .text{
    padding-left: 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .content > .row-fluid.box-row > .span2{
    width: 31.49171%;
    *width: 31.43852%;
    margin-left: 2.76243%;
    *margin-left: 2.70924%;
    float: left;

    &:nth-child(3n + 1){
      margin-left: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px){
  .page-header .title-nav > li{
    & > a, & > a:visited{
      padding: 0 5px;
    }
  }

  .content{
    padding: 40px 2.3% 40px 0;

    & > .row-fluid{
      &.box-row{
        margin-left: 2.3%;
        width: 97.7%;
        & > .span2{
          width: 31.49171%;
          *width: 31.43852%;
          margin-left: 2.76243%;
          *margin-left: 2.70924%;
          float: left;

          &:nth-child(3n + 1){
            margin-left: 0;
          }
        }
      }

      &:not(.box-row){

        & > [class*="span"]{
          margin-left: 2.3%;

          &:first-child{
            margin-left: 2.3%;
          }
        }

        @for $i from 1 through 3 {
          & > .span#{$i} {
            width: 47.7%;
          }
        }

        @for $i from 4 through 12 {
          & > .span#{$i} {
            width: 97.7%;

            &.half-width-responsive{
              width: 47.7%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 980px) and (max-width: 1019px) {
  .row-fluid.box-row{
    & > .span2{
      width: 31.91489%;
      *width: 31.8617%;

      &:nth-child(3n + 1){
        margin-left: 0;
      }
    }
  }

  .content{
    padding: 40px 2.3%;
  }
}

@media (max-width: 1048px) {

  @include sidebar-icons("");

  .sidebar{
    margin-left: 1.6%;
    @include sidebar-settings;

    .settings{
      display: none;
    }
  }

  .sidebar-on-right{
    .sidebar{
      right: 0;
      margin: 30px 1.6% 0 0;
    }

    .wrap{
      margin-left: 0;
      margin-right: 62px;
    }
  }
  .sidebar-hidden{
    .sidebar{
      display: none;
    }

    .wrap{
      margin-left: 0;
      margin-right: 0;
    }
  }
}

//this media quiery is out of order because Chrome thinks
//max-width: 1048px is more important than max-width: 767px
@media (max-width: 767px){
  input[type=search], input.search {
    background-position: 5px 10px;
  }

  .sidebar,
  .sidebar-on-right .sidebar,
  .sidebar-on-right .sidebar.sidebar-icons,
  .sidebar.sidebar-icons{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 85px 5%;
    width: 90%;
    height: 0;
    overflow: hidden;
    padding: 0;

    .brand{
      display: none;
    }

    &.in{
      padding: 20px 0;

      .brand{
        display: block;
      }

      h2{
        display: block;
      }

      .side-nav li{
        a{
          font-size: 20px;
          line-height: 30px;
          padding: 13px 30px;
          font-weight: 400;
          text-align: left;
          width: auto;

          i[class*=icon]{
            float: left;
            line-height: 30px;
            padding-top: 1px;
          }
        }

        .name{
          margin-left: 10px;
          display: inline-block;
        }
      }

      .settings{
        display: none;
      }
    }

    &.in + .wrap .content{
      margin-top: 660px;
    }
  }

  .sidebar + .wrap, .sidebar-on-right .sidebar + .wrap{
    margin-left: 0;
    margin-right: 0;
  }

  .nv-controlsWrap{
    display: none;
  }
}

@media (max-width: 240px){
  .content > .row-fluid.box-row > .span2{
    float: none;
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .comments{
    overflow-y: scroll;
    height: 100%;
  }

  .widget.tiny{
    padding: 5px 10px;
  }

  .overview{
    padding: 0;
  }

  .box{
    font-size: 34px;
  }
}

@media (min-width: 1441px) {
  .box{
    font-size: 50px;
    line-height: 1.2em;

    .description{
      font-size: 20px;
    }
  }

  .widget{

    &.large{
      height: 400px;

      .body{
        height: 365px;

        .chart{
          height: 288px;
        }
      }

      .pie-chart .total{
        h4{
          font-size: 19px;
        }
        h3{
          font-size: 40px;
        }
      }
    }

    &.xlarge{
      height: 500px;

      .body{
        height: 465px;

        .chart{
          height: 383px;
        }
      }

      .pie-chart .total{
        h4{
          font-size: 19px;
        }
        h3{
          font-size: 40px;
        }
      }
    }

    &.tiny{
      height: 188px;
    }

    &.tabs{

      &.large{
        height: 415px; //+15px
        .body .chart{
          height: 267px;
        }
      }

      &.xlarge{
        height: 515px; //+15px
        .body .chart{
          height: 357px;
        }
      }
    }

  }

  .widget.large, .widget.xlarge{
    .pie-chart .controls .control h4{
      font-size: 17px;
      margin-bottom: 7px;
    }

    .pie-chart .controls .control p{
      font-size: 24px;
      margin-bottom: 5px;
    }
  }

  .pie-chart .total h5.visits{
    font-size: 34px;
  }

  .chart-inline{
    height: 58px;
    margin-bottom: 18px;
  }
}