//Define our own and
//override default bootstrap properties

$lime:                  #8CBF26 !default;
$red:                   #e5603b !default;
$redDark:               #d04f4f !default;
$blue:                  #618fb0 !default;
$green:                 #56bc76 !default;
$orange:                #eac85e !default;
$pink:                  #E671B8 !default;
$purple:                #A700AE !default;
$brown:                 #A05000 !default;
$teal:                  #2eb4dc !default;
$lightGray:             #f8f8f8 !default;
$shadowGray:            #676767 !default;
$linkRed:               #da3712 !default;
$lightBlue:             #eff5ef;
$lightBrown: #f5f2ee;

$colors: $lime, $red, $redDark, $blue, $green, $orange, $brown, $teal;
$color_names: lime, red, dark-red, blue, green, orange, brown, teal;

$widget-shadow: 0 0 12px $shadowGray;
$widget-border-radius: 1px;
$button-border-radius: 1px;
$box-margin-bottom: 40px;

//$textColor: #6f6251 !default;
$textColor: #666 !default;
$backgroundBrown: #786c60 !default;
$backgroundBlue: #426D73 !default;
$backgroundColor: $backgroundBrown;

$navbarCollapseWidth: 767px !default;