@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600,700italic,400,700');
@import url(../lib/nvd3/src/nv.d3.css);
@import url(../lib/font-awesome/css/font-awesome.min.css);

@import "variables";

@import "compass";
@import "bootstrap/bootstrap";
@import "bootstrap/responsive";

@import "bootstrap.override";

@import "responsive";

@import "svg";

@import "basic";
@import "scrollbar";

.sidebar{
  @include border-radius($widget-border-radius);
  @include box-shadow($widget-shadow);

  background-color: #fff;
  position: fixed;
  width: 180px;
  padding: 20px 0;
  top: 0;
  color: #595959;
  z-index: 1;
  margin: 30px 0 0 25px;

  h2{
    color: inherit;
    font-size: 30px;
    padding-left: 30px;
  }

  .brand{
    font-size: 30px;
    text-shadow: none;
    color: #6c6c6c;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-bottom: 35px;
  }
}

.side-nav{
  font-size: 14px;
  margin: 0;
  font-weight: 600;

  li{
    list-style: none;

    &.active, &:hover{
      color: #da3712;
    }

    &.active a{
      background: #f8f8f8;
      border-left: 6px solid #4daf7c;
      padding-left: 24px;
    }

    a{
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 18px 30px;
    }
  }
}

.wrap{
  margin-left: 205px;
}

.content{
  min-height: 900px;
  padding: 40px;

}

/*boxes*/
.box{
  @include border-radius($widget-border-radius);

  padding: 5px;
  color: #ffffff;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  line-height: 1em;
  @include box-shadow(0 0 20px rgba(0,0,0,.5));
  margin-bottom: $box-margin-bottom;

  &.red{
    background: $red;
  }
  &.orange{
    background: $orange;
  }
  &.green{
    background: $green;
  }
  &.blue{
    background: $blue;
  }
  &.purple{
    background: $purple;
  }
  &.pink{
    background: $pink;
  }
  &.brown{
    background: $brown;
  }
  &.lime{
    background: $lime;
  }
  &.teal{
    background: $teal;
  }
  &.dark-red{
    background: $redDark;
  }

  .description{
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
}

.widget{
  @include border-radius($widget-border-radius);
  @include box-shadow($widget-shadow);
  @include transition(box-shadow linear .2s);
  padding: 15px;
  color: #444;
  background: #ffffff;
  margin-bottom: $box-margin-bottom;

  &:hover{
    @include box-shadow(0 0 8px #000);
    @include transition(box-shadow linear .2s);
  }

  &.big{
    height: 315px;

    .body{
      height: 280px;
    }
  }

  header{
    position: relative;
    background: inherit;

    #{headings(2,4)}{
      margin: 0;
      line-height: 1em;
      color: inherit;
    }
  }

  .body{
    margin-top: 15px;
  }

  .actions{
    position: absolute;
    right: 0;
    top: 0;
    a{
      color: inherit;
      text-decoration: none;
    }
  }

  &.tabs{
    padding: 0;
    position: relative;
    background: transparent;
    box-shadow: none;

    header{
      margin-top: 0;
    }
    .body{
      padding: 15px;
      background: #ffffff;
      margin-top: 0;
      box-shadow: 0 6px 12px #343434;
      height: 277px;
    }
    &:before, &:after{
      display: block;
      content: "";
      background: #ffffff;
      position: absolute;
      z-index: 1;
    }

    &:before{
      top: 32px;
      left: 0;
      right: 0;
      height: 15px;
    }
    &:after{
      bottom: -30px;
      height: 6px;
      left: 0;
      right: 0;
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    .nav-tabs {
      & > .active > a{
        border: 1px solid #ffffff;
        color: #444444;
        background: #fff;
        &:hover{
          background: #ffffff;
        }
      }

      & > li > a{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
        color: #fff;
        border: 1px solid #ffffff;
        border-bottom: 1px solid transparent;
        box-shadow: 0 2px 12px #343434;
      }

      & > li:not(.active) > a:hover{
        background: transparent;
        margin-top: -2px;
        padding-bottom: 10px;

        @include transition(margin-top 50ms linear, padding-bottom 50ms linear)
      }
    }
  }
}

.chart-inline{
  margin-bottom: 12px;
  height: 44px;

  svg{
    height: 44px;
  }

  h4{
    padding-left: 10px;
    padding-top: 4px;
    margin: 0;
  }

  .info{
    padding: 4px 0;
    text-align: right;
    font-weight: 700;
  }
}

input.parsley-error{
  background-color: #f8f3f0;
}

form ul.parsley-error-list{
  margin-top: -10px;
  font-size: 12px;

  li{
    list-style: none;
  }
}