@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600,700italic,400,700');
@import url(../lib/nvd3/src/nv.d3.css);
@import url(../lib/font-awesome/css/font-awesome.min.css);

$widget-shadow: 0 0 12px #343434;
$widget-border-radius: 2px;
$box-margin-bottom: 30px;

@import "compass";
@import "bootstrap/bootstrap";
@import "bootstrap/responsive";
@import "bootstrap.override";
@import "scrollbar";
@import "responsive";
@import "svg";
@import "basic";

.page-header{
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  border: none;
  display: none /*removing it temporary*/;

  .navbar{
    margin-bottom: 0;

    .nav > li > a{
      text-shadow: none;
      color: #6c6c6c;
    }

    .navbar-inner{
      background: transparent;
    }
  }

  .navbar-search{
    position: absolute;
    float: none;
    left: 50%;
    margin: 10px 0 0 -150px;
    z-index: 1;

    .search-query{
      border-radius: 0;
      padding-left: 26px;
    }
  }
}

.sidebar{
  @include border-radius($widget-border-radius);
  @include box-shadow($widget-shadow);

  background-color: #fff;
  position: fixed;
  width: 180px;
  padding: 20px 0;
  top: 0;
  color: #595959;
  z-index: 1;
  margin: 40px 0 0 40px;

  h2{
    color: inherit;
    font-size: 30px;
    padding-left: 30px;
  }

  .brand{
    font-size: 30px;
    text-shadow: none;
    color: #6c6c6c;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-bottom: 35px;
  }
}

.side-nav{
  font-size: 14px;
  margin: 0;
  font-weight: 600;

  li{
    list-style: none;

    &.active, &:hover{
      color: #da3712;
    }

    &.active a{
      background: #f8f8f8;
      border-left: 6px solid #4daf7c;
      padding-left: 24px;
    }

    a{
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 18px 30px;
    }
  }
}

.wrap{
  margin-left: 220px;
}

.content{
  min-height: 900px;
  padding: 40px;

}

/*boxes*/
.box{
  @include border-radius($widget-border-radius);

  padding: 5px;
  color: #ffffff;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  line-height: 1em;
  @include box-shadow(0 0 20px rgba(0,0,0,.5));
  margin-bottom: $box-margin-bottom;

  .description{
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
  }
}

.box.red{
  background: #e5603b;
}

.btn-warning, .box.orange{
  background: #eac85e;
}

.box.green{
  background: #56bc76;
}

.box.blue{
  background: #618fb0;
}

.box.purple{
  background: #A700AE;
}

.box.pink{
  background: #E671B8;
}

.box.brown{
  background: #A05000;
}

.box.lime{
  background: #8CBF26;
}

.box.teal{
  background: #2eb4dc;
}

.box.dark-red{
  background: #d04f4f;
}

.widget{
  -webkit-transition:box-shadow linear .2s;
  -moz-transition:box-shadow linear .2s;
  -o-transition:box-shadow linear .2s;
  transition:box-shadow linear .2s;
}

.widget:hover{
  -webkit-box-shadow: 0 0 3px #bbb;
  -moz-box-shadow: 0 0 3px #bbb;
  box-shadow: 0 0 8px #000;

  -webkit-transition:box-shadow linear .2s;
  -moz-transition:box-shadow linear .2s;
  -o-transition:box-shadow linear .2s;
  transition:box-shadow linear .2s;
}


.widget{
  @include border-radius($widget-border-radius);
  @include box-shadow($widget-shadow);
  padding: 15px;
  color: #444;
  background: #ffffff;
  margin-bottom: $box-margin-bottom;
}

.widget.big{
  height: 315px;
}

.widget.big .body{
  height: 280px;
}

.widget header{
  position: relative;
  background: inherit;
}

.widget header h2,
.widget header h3,
.widget header h4{
  margin: 0;
  line-height: 1em;
  color: inherit;
}

.widget .body{
  margin-top: 15px;
}

.widget .actions{
  position: absolute;
  right: 0;
  top: 0;
}

.widget .actions a{
  color: inherit;
  text-decoration: none;
}

.chart-inline, .chart-inline svg{
  height: 44px;
}

.chart-inline{
  margin-bottom: 12px;
}

.chart-inline h4{
  padding-left: 10px;
  padding-top: 4px;
  margin: 0;
}

.chart-inline .info{
  padding: 4px 0;
  text-align: right;
  font-weight: 700;
}

.widget.tabs{
  padding: 0;
  position: relative;
}

.widget.tabs header{
  margin-top: 0;
}

.widget.tabs .body{
  padding: 15px;
  background: #ffffff;
  margin-top: 0;
  box-shadow: 0 6px 12px #343434;
  height: 277px;
}

.widget.tabs:before,
.widget.tabs:after{
  display: block;
  content: "";
  background: #ffffff;
  position: absolute;
  z-index: 1;
}

.widget.tabs:before{
  top: 32px;
  left: 0;
  right: 0;
  height: 15px;
}

.widget.tabs:after{
  bottom: -30px;
  height: 6px;
  left: 0;
  right: 0;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.widget.tabs{
  background: transparent;
  box-shadow: none;
}

.widget.tabs .nav-tabs > .active > a{
  border: 1px solid #ffffff;
  color: #444444;
  background: #fff;
}

.widget.tabs .nav-tabs > .active > a:hover{
  background: #ffffff;
}

.widget.tabs .nav-tabs > li > a{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
  color: #fff;
  border: 1px solid #ffffff;
  border-bottom: 1px solid transparent;
  box-shadow: 0 2px 12px #343434;
}

.widget.tabs .nav-tabs > li:not(.active) > a:hover{
  background: transparent;
  margin-top: -2px;
  padding-bottom: 10px;

  transition: margin-top 50ms linear, padding-bottom 50ms linear;
  -moz-transition: margin-top 50ms linear, padding-bottom 50ms linear;
  -webkit-transition: margin-top 50ms linear, padding-bottom 50ms linear;
}

input.parsley-error{
  background-color: #f8f3f0;
}

form ul.parsley-error-list{
  margin-top: -10px;
  font-size: 12px;
}

form ul.parsley-error-list li{
  list-style: none;
}