//this file is used only to control the amount of lines
//produced by me, excluding libraries, etc
@mixin invalid-border {
  border-color: #e9322d;
  box-shadow: 0 0 6px #f8b9b7;
}

@mixin sidebar-icons($class){
  .sidebar#{$class}{
    width: 52px;
    padding: 20px 0;
    margin: 30px 0 0 10px;

    h2{
      display: none;
    }
  }

  .side-nav#{$class} li{
    a{
      font-size: 20px;
      line-height: 30px;
      padding: 13px 0;
      text-align: center;

      i[class*=icon]{
        float: none;
      }
    }

    .name{
      display: none;
    }
  }

  .wrap#{$class}{
    margin-left: 62px;
  }
}

@mixin sidebar-settings{
  .settings{
    .btn-small{
      padding: 2px 8px;
    }
  }
}

@import "variables";

@import "compass";

@import "svg";

@import "general";

@import "base";

@import "responsive";