<!DOCTYPE html>
<html>
<head>
    <title>Admin theme test</title>
    <link href="css/application.css" rel="stylesheet">
    <script src="lib/jquery/jquery.1.9.0.min.js"> </script>
    <script src="lib/jquery/jquery-migrate-1.1.0.min.js"> </script>
    <script src="lib/uniform/js/jquery.uniform.js"></script>
    <!--<script src="lib/zepto/zepto.min.js"> </script>-->
    <script src="js/bootstrap/bootstrap-tab.js"> </script>
    <script src="lib/parsley.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body class="background-two">
<nav class="sidebar nav-collapse collapse">
    <a class="brand" href=""><i class="icon-laptop"></i></a>
    <h2>Actions</h2>
    <ul id="side-nav" class="side-nav">
        <li class="green">
            <a href="index.html"><i class="icon-desktop"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="teal accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#forms-collapse"><i class="icon-bar-chart"></i> <span class="name">Statistics</span></a>
            <ul id="forms-collapse" class="accordion-body collapse">
                <li><a href="#">Stats</a></li>
                <li><a href="stats.html">Charts</a></li>
            </ul>
        </li>
        <li class="active blue">
            <a href="forms.html"><i class="icon-edit"></i> <span class="name">Forms</span></a>
        </li>
        <li class="brown">
            <a href="#"><i class="icon-magic"></i> <span class="name">User Interface</span></a>
        </li>
        <li class="dark-red">
            <a href="#"><i class="icon-bookmark-empty"></i> <span class="name">Components</span></a>
        </li>
        <li class="red">
            <a href="#"><i class="icon-table"></i><span class="name">Tables</span></a>
        </li>
        <li class="orange">
            <a href="#"><i class="icon-columns"></i><span class="name">Grid</span></a>
        </li>
        <li class="lime">
            <a href="#"><i class="icon-asterisk"></i><span class="name">Special</span></a>
        </li>
    </ul>
    <div id="sidebar-settings" class="settings">
        <button type="button"
                data-value="icons"
                class="btn-icons btn btn-success btn-small">Icons</button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-primary btn-small">Auto</button>
    </div>
</nav>
<div class="wrap">
<header class="page-header">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav title-nav hidden-phone">
                <li class="active"><a href="#" title="Demo Form"><i class="icon-edit icon-large"></i> Demo Form</a></li>
            </ul>
            <ul class="nav right pull-right ">
                <li><a href="#" title="Messages"><i class="icon-comments"></i></a></li>
                <li><a href="#" title="8 people needs help"><i class="icon-group"></i><i class="count">8</i></a></li>
                <li class="divider"></li>
                <li class="hidden-phone">
                    <a href="#" id="settings"
                       data-toggle="popover"
                       data-placement="bottom"
                       title="">
                        <i class="icon-cog"></i>
                    </a>
                </li>
                <li class="hidden-phone">
                    <a href="#" id="user"
                       data-toggle="popover"
                       data-placement="bottom"
                       title="">
                        <i class="icon-user"></i>
                    </a>
                </li>
                <li class="visible-phone">
                    <a href="#"
                       class="btn-navbar"
                       data-toggle="collapse"
                       data-target=".sidebar"
                       title="">
                        <i class="icon-reorder"></i>
                    </a>
                </li>
                <li class="hidden-phone"><a href="login.html"><i class="icon-signout"></i></a></li>
            </ul>
        </div>
    </div>
</header>
<div class="content container-fluid">
<div class="row-fluid">
    <div class="span7">
        <section class="widget">
            <header>
                <h3><i class="icon-user"></i> Account Profile <small>Create new or edit existing user</small></h3>
            </header>
            <div class="body">
                <form class="form-horizontal label-left" data-validate="parsley">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="profile-picture">
                                <img class="img-circle" src="img/1.jpg" alt="64x64" style="height: 112px;">
                            </div>
                        </div>
                        <div class="span8">
                            <h2>Maryna Dorash</h2>
                            <address>
                                <strong>Development manager</strong> at <strong><a href="#">Allspana Inc.</a></strong><br>
                                <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">maryna.dorash@allspana.by</a><br>
                                <abbr title="Work Phone">phone:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div>
                    <fieldset>
                        <legend>Account Edit Form <small>Some explanation text</small></legend>
                        <legend><small>Personal Info</small></legend>
                        <div class="control-group">
                            <label class="control-label" for="prefix">Prefix</label>
                            <div class="controls">
                                <input type="text" id="prefix" class="span6">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="first-name">First Name <span class="required">*</span></label>
                            <div class="controls">
                                <input type="text" id="first-name" class="span11" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="last-name">Last Name <span class="required">*</span></label>
                            <div class="controls">
                                <input type="text" id="last-name" class="span11" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="middle-name" class="control-label">Middle Name / Initial</label>
                            <div class="controls">
                                <input id="middle-name" class="span11" type="text" name="accountMiddleName" value="">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="gender" class="control-label">Gender</label>
                            <div class="controls">
                                <input id="gender-input" type="hidden" name="gender" value="female">
                                <div id="gender" class="btn-group change" data-toggle="buttons-radio" data-target="gender-input">
                                    <button type="button" class="btn" data-toggle-class="btn-primary" name="gender" value="male">&nbsp; Male &nbsp;</button>
                                    <button type="button" class="btn btn-primary active" data-toggle-class="btn-primary" name="gender" value="female">Female</button>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="date-of-birth" class="control-label">Date Of Birth <span class="required">*</span></label>
                            <div class="controls">
                                <input id="date-of-birth" class="span6" type="text" name="accountDob" value="">
                            </div>
                        </div>
                        <legend><small>Contact Info</small></legend>
                        <div class="control-group">
                            <label for="email" class="control-label">Email <span class="required">*</span></label>
                            <div class="controls">
                                <div class="input-append block">
                                    <input id="email" type="email" required="required" class="span6"
                                           name="email" value="">
                                    <a class="btn btn-success" type="button">write an email</a> </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="accountPhoneNumber" class="control-label">Phone <span class="required">*</span></label>
                            <div class="controls controls-row">
                                <input id="accountPhoneNumber" class="span6 maskPhone margin-right5" type="text" name="accountPhoneNumber" value="" maxlength="28">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
</div>
</div>
</div>

<script src="lib/nvd3/lib/d3.v2.js"></script>
<script src="lib/nvd3/nv.d3.custom.js"></script>
<script src="lib/nvd3/src/models/scatter.js"></script>
<script src="lib/nvd3/src/models/axis.js"></script>
<script src="lib/nvd3/src/models/legend.js"></script>
<script src="lib/nvd3/src/models/stackedArea.js"></script>
<script src="lib/nvd3/src/models/stackedAreaChart.js"></script>
<script src="lib/nvd3/src/models/line.js"></script>
<script src="lib/nvd3/src/models/pie.js"></script>
<script src="lib/nvd3/src/models/pieChartTotal.js"></script>
<script src="lib/nvd3/stream_layers.js"></script>
<script src="lib/backbone/underscore-min.js"></script>
<script src="lib/backbone/backbone-min.js"></script>
<script src="lib/backbone/backbone.localStorage-min.js"></script>
<script src="js/bootstrap/bootstrap-collapse.js"></script>
<script src="js/bootstrap/bootstrap-alert.js"></script>
<script src="js/bootstrap/bootstrap-tooltip.js"></script>
<script src="js/bootstrap/bootstrap-popover.js"></script>
<script src="js/bootstrap/bootstrap-button.js"></script>
<script src="lib/bootstrap-datepicker.js"></script>

<script src="js/app.js"></script>
<script src="js/settings.js"></script>

<script src="js/forms.js"></script>

<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        Sidebar on the
        <div id="sidebar-toggle" class="btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        Background
        <div id="background-toggle" class="btn-group" data-toggle="buttons-radio">
            <% two = background == 'two'%>
            <button type="button" data-value="one" class="btn btn-transparent <%= two? '' : 'active' %>">One</button>
            <button type="button" data-value="two" class="btn btn-transparent <%= two? 'active' : '' %>">Two</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-success btn-small">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-primary btn-small">Auto</button>

    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-primary btn-small">Auto</button>
    <% } %>
</script>

<script type="text/template" id="user-template">
    <div class="user">
        <figure class="clearfix">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Vita%C5%ADt._%D0%92%D1%96%D1%82%D0%B0%D1%9E%D1%82_%28J._Aziamb%C5%82o%C5%ADski%2C_XIX%29.jpg" class="img-circle pull-left">

            <figcaption class="pull-right">Vitaut the Great</figcaption>
        </figure>
        <nav class="actions">
            <ul>
                <li class="active">
                    <a target="_blank" href="http://www.belarusguide.com/cities/commanders/Vitaut_The_Great.html">
                        <i class="icon-user icon-large"></i> Profile
                    </a>
                </li>
                <li><a href=""><i class="icon-calendar icon-large"></i> Calendar</a></li>
            </ul>
        </nav>
    </div>
</script>

</body>
</html>