<!DOCTYPE html>
<html>
<head>
    <title>Light Blue - Admin Template</title>
    <link href="css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
</head>
<body class="background-two">
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <a class="brand" title="Light Blue" href="index.html"><i class="icon-laptop"></i></a>
    <h2>Actions</h2>
    <ul id="side-nav" class="side-nav">
        <li class="green">
            <a href="index.html"><i class="icon-desktop"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="teal accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><i class="icon-bar-chart"></i> <span class="name">Statistics</span></a>
            <ul id="stats-collapse" class="accordion-body collapse">
                <li><a href="stat_statistics.html">Stats</a></li>
                <li><a href="stat_charts.html">Charts</a></li>
                <li><a href="stat_realtime.html">Realtime</a></li>
            </ul>
        </li>
        <li class="blue accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#forms-collapse"><i class="icon-edit"></i> <span class="name">Forms</span></a>
            <ul id="forms-collapse" class="accordion-body collapse">
                <li><a href="form_account.html">Account</a></li>
                <li><a href="form_article.html">Article</a></li>
                <li><a href="form_elements.html">Elements</a></li>
                <li><a href="form_validation.html">Validation</a></li>
            </ul>
        </li>
        <li class="brown active accordion-group">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#side-nav" href="#ui-collapse"><i class="icon-magic"></i> <span class="name">User Interface</span></a>
            <ul id="ui-collapse" class="accordion-body collapse in">
                <li><a href="ui_buttons.html">Buttons</a></li>
                <li class="active"><a href="ui_dialogs.html">Dialogs</a></li>
                <li><a href="ui_icons.html">Icons</a></li>
                <li><a href="ui_tabs.html">Tabs</a></li>
                <li><a href="ui_accordion.html">Accordion</a></li>
            </ul>
        </li>
        <li class="dark-red accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#components-collapse"><i class="icon-bookmark-empty"></i> <span class="name">Components</span></a>
            <ul id="components-collapse" class="accordion-body collapse">
                <li><a href="component_calendar.html">Calendar</a></li>
                <li><a href="component_maps.html">Maps</a></li>
                <li><a href="component_gallery.html">Gallery</a></li>
                <li><a href="component_fileupload.html">Fileupload</a></li>
            </ul>
        </li>
        <li class="red accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#tables-collapse"><i class="icon-table"></i> <span class="name">Tables</span></a>
            <ul id="tables-collapse" class="accordion-body collapse">
                <li><a href="tables_static.html">Static</a></li>
                <li><a href="tables_dynamic.html">Dynamic</a></li>
            </ul>
        </li>
        <li class="orange">
            <a href="grid.html"><i class="icon-columns"></i><span class="name">Grid</span></a>
        </li>
        <li class="lime accordion-group">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#special-collapse"><i class="icon-asterisk"></i> <span class="name">Special</span></a>
            <ul id="special-collapse" class="accordion-body collapse">
                <li><a href="special_search.html">Search</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="special_404.html">404</a></li>
            </ul>
        </li>
        <li class="visible-phone">
            <a href="login.html"><i class="icon-signout"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
    <div id="sidebar-settings" class="settings">
        <button type="button"
                data-value="icons"
                class="btn-icons btn btn-success btn-small">Icons</button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-primary btn-small">Auto</button>
    </div>
</nav>
<div class="wrap">
    <header class="page-header">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav title-nav hidden-phone">
                    <li><a href="ui_buttons.html" title="Buttons"><i class="icon-ok icon-large"></i> Buttons</a></li>
                    <li class="active"><a href="ui_dialogs.html" title="Dialogs"><i class="icon-magic icon-large"></i> Dialogs</a></li>
                    <li><a href="ui_icons.html" title="Icons"><i class="icon-thumbs-up icon-large"></i> Icons</a></li>
                    <li><a href="ui_tabs.html" title="Tabs"><i class="icon-folder-close-alt icon-large"></i> Tabs</a></li>
                    <li><a href="ui_accordion.html" title="Tabs"><i class="icon-book icon-large"></i> Accordion</a></li>

                </ul>
                <ul class="nav right pull-right ">
                    <li><a href="#" title="Messages"><i class="icon-comments"></i></a></li>
                    <li><a href="#" title="8 people needs help"><i class="icon-group"></i><i class="count">8</i></a></li>
                    <li class="divider"></li>
                    <li class="hidden-phone">
                        <a href="#" id="settings"
                           data-toggle="popover"
                           data-placement="bottom"
                           title="">
                            <i class="icon-cog"></i>
                        </a>
                    </li>
                    <li class="hidden-phone">
                        <a href="#" id="user"
                           data-toggle="popover"
                           data-placement="bottom"
                           title="">
                            <i class="icon-user"></i>
                        </a>
                    </li>
                    <li class="visible-phone">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="icon-reorder"></i>
                        </a>
                    </li>
                    <li class="hidden-phone"><a href="login.html"><i class="icon-signout"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="content container-fluid">
        <div class="row-fluid">
            <div class="span5 offset1">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="icon-magic"></i>
                            Dialogs
                        </h4>
                    </header>
                    <div class="body">
                        <div class="modal" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h3>Modal header</h3>
                            </div>
                            <div class="modal-body">
                                <p>One fine body…</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn">Close</a>
                                <a href="#" class="btn btn-primary">Save changes</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="span5">
                <section class="widget light-gray">
                    <header>
                        <h4>
                            <i class="icon-bolt"></i>
                            Live Demo
                        </h4>
                    </header>
                    <div class="body">
                        <button type="button" class="btn btn-danger btn-large btn-block"
                                data-toggle="modal" data-target="#myModal" data-backdrop="false">Launch modal</button>
                        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" >×</button>
                                <h3 id="myModalLabel">Modal Heading</h3>
                            </div>
                            <div class="modal-body">
                                <h4>Text in a modal</h4>
                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>

                                <h4>Popover in a modal</h4>
                                <p>This <a href="#" role="button" class="btn popover-test btn-small" title=""
                                           data-content="And here's some amazing content. It's very engaging. right?"
                                           data-original-title="A Title">button</a> should trigger a popover on click.</p>

                                <h4>Tooltips in a modal</h4>
                                <p><a href="#" class="tooltip-test" title="" data-original-title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="" data-original-title="Tooltip">that link</a> should have tooltips on hover.</p>

                                <hr>

                                <h4>Overflowing text to show optional scrollbar</h4>
                                <p>We set a fixed <code>max-height</code> on the <code>.modal-body</code>. Watch it overflow with all this extra lorem ipsum text we've included.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget light-gray">
                    <header>
                        <h4>
                            <i class="icon-ban-circle"></i>
                            Blocking one
                        </h4>
                    </header>
                    <div class="body">
                        <button type="button" class="btn btn-warning btn-large btn-block"
                                data-toggle="modal" data-target="#myModal2">Launch blocking modal</button>
                        <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" >×</button>
                                <h3 id="myModalLabel2">Modal Heading</h3>
                            </div>
                            <div class="modal-body">
                                <h4>Text in a modal</h4>
                                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>

                                <h4>Popover in a modal</h4>
                                <p>This <a href="#" role="button" class="btn popover-test btn-small" title=""
                                           data-content="And here's some amazing content. It's very engaging. right?"
                                           data-original-title="A Title">button</a> should trigger a popover on click.</p>

                                <h4>Tooltips in a modal</h4>
                                <p><a href="#" class="tooltip-test" title="" data-original-title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="" data-original-title="Tooltip">that link</a> should have tooltips on hover.</p>

                                <hr>

                                <h4>Overflowing text to show optional scrollbar</h4>
                                <p>We set a fixed <code>max-height</code> on the <code>.modal-body</code>. Watch it overflow with all this extra lorem ipsum text we've included.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- jquery and friends -->
<script src="lib/jquery/jquery.1.9.0.min.js"> </script>
<script src="lib/jquery/jquery-migrate-1.1.0.min.js"> </script>

<!-- jquery plugins -->
<script src="lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="lib/parsley/parsley.js"> </script>
<script src="lib/uniform/js/jquery.uniform.js"></script>
<script src="lib/select2.js"></script>


<!--backbone and friends -->
<script src="lib/backbone/underscore-min.js"></script>

<!-- bootstrap default plugins -->
<script src="js/bootstrap/bootstrap-transition.js"></script>
<script src="js/bootstrap/bootstrap-collapse.js"></script>
<script src="js/bootstrap/bootstrap-alert.js"></script>
<script src="js/bootstrap/bootstrap-tooltip.js"></script>
<script src="js/bootstrap/bootstrap-popover.js"></script>
<script src="js/bootstrap/bootstrap-button.js"></script>
<script src="js/bootstrap/bootstrap-dropdown.js"></script>
<script src="js/bootstrap/bootstrap-modal.js"></script>

<!-- bootstrap custom plugins -->
<script src="lib/bootstrap-datepicker.js"></script>
<script src="lib/bootstrap-select/bootstrap-select.js"></script>
<script src="lib/wysihtml5-0.3.0_rc2.js"></script>
<script src="lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>

<!-- basic application js-->
<script src="js/app.js"></script>
<script src="js/settings.js"></script>

<!-- page specific js -->
<script src="js/ui-dialogs.js"></script>

<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        Sidebar on the
        <div id="sidebar-toggle" class="btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        Background
        <div id="background-toggle" class="btn-group" data-toggle="buttons-radio">
            <% two = background == 'two'%>
            <button type="button" data-value="one" class="btn btn-transparent <%= two? '' : 'active' %>">One</button>
            <button type="button" data-value="two" class="btn btn-transparent <%= two? 'active' : '' %>">Two</button>
        </div>
    </div>
    <div class="setting clearfix">
        Sidebar
        <div id="display-sidebar-toggle" class="btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-success btn-small">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-primary btn-small">Auto</button>

    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-primary btn-small">Auto</button>
    <% } %>
</script>

<script type="text/template" id="user-template">
    <div class="user">
        <figure class="clearfix">
            <img src="img/2.jpg" class="img-circle pull-left">

            <figcaption class="pull-right">Philip Daineka &nbsp;</figcaption>
        </figure>
        <nav class="actions">
            <ul>
                <li class="active">
                    <a href="form_account.html">
                        <i class="icon-user icon-large"></i> Profile
                    </a>
                </li>
                <li><a href="component_calendar.html"><i class="icon-calendar icon-large"></i> Calendar</a></li>
            </ul>
        </nav>
    </div>
</script>

</body>