@media print {

  hr{
    border-bottom-color: $gray-light;
  }

  blockquote{
    border-top: none;
    border-right: none;
    border-bottom: none;
  }

  .sidebar{
    display: none;
  }

  .wrap{
    margin: 0;
  }

  .page-header{
    display: none;
  }

  .logo{
    position: static;
    width: auto;
  }

  .table, .table td, .table th{
    background: $white !important;
    border: none !important;
  }

  .table td{
    border-top: 1px solid $gray-light !important;
  }

  .hidden-print{
    display: none !important;
  }

}