/**
 * override custom libs styles. This files is not required for core sing functionality and may be removed
 */



/**
 * nvd3
 */
.nvtooltip {
  padding: $padding-small-vertical $padding-small-horizontal;
  font-family: $font-family-base;
  font-size: $font-size-small;
  text-align: center;

  p{
    margin: 0;
    padding: 0;
  }
}

svg text {
  font: $font-weight-base $font-size-small $font-family-base;
  fill: $text-color;
}

svg .title {
  font: $font-weight-bold $font-size-base $font-family-base;
}

.nvd3.nv-noData {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.nvd3 .nv-axis path.domain {
  stroke-opacity: 0;
}

.nv-controlsWrap{
  @include translate(-40px, -50px);

  .nv-legend-symbol{
    fill: #666 !important;
    stroke: #666 !important;
  }
}

.nvd3 .nv-axis line{
  stroke: #000;
  stroke-opacity: .1;
}

/*!
 * Bootstrap-select
 */
.bootstrap-select .btn:focus{
  outline: 0 !important;
}

/**
 * Select2 Bootstrap CSS
 */
/*
 * override .form-control:focus shadow
 */
.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices{
  @include box-shadow(none);
}

.select2-container-multi .select2-choices .select2-search-choice{
  @include border-radius($input-border-radius);
}

/**
 * setting correct urls
 */
.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b{
  background-image: url("#{$libs-compiled-folder}/select2/select2.png");
  @include retina(){
    background-image: url("#{$libs-compiled-folder}/select2/select2x2.png") !important;
  }
}

.select2-search input.select2-active,
.select2-more-results.select2-active,
.select2-container-multi .select2-choices .select2-search-field input.select2-active{
  background-image: url("#{$libs-compiled-folder}/select2/select2-spinner.gif");
}

.select2-container .select2-choice .select2-arrow,
.select2-container .select2-choice div {
  border-left: none;
}

/**
 * Make Multi Select2's choices match Bootstrap 3's default button styles.
 */

.select2-container-multi .select2-choices .select2-search-choice {
  background: $btn-inverse-bg;
}

/**
 * Switchery
 */

.switchery{
  background-color: transparent !important;
}

/**
 * Datetimepicker for Bootstrap v3
 */
.bootstrap-datetimepicker-widget
{
  border-radius: $border-radius-base;
  color: $gray;
  td,
  th
  {
    border-radius: $border-radius-base;
  }

  td
  {
    &.day:hover,
    &.hour:hover,
    &.minute:hover,
    &.second:hover
    {
      background: $gray-lighter;
    }

    &.old,
    &.new
    {
      color: $gray-light;
    }

    &.active,
    &.active:hover
    {
      background-color: $btn-primary-bg;
      text-shadow: none;
    }

    &.disabled,
    &.disabled:hover
    {
      color: $gray-light;
    }

    span
    {
      border-radius: $border-radius-base;

      &:hover
      {
        background: $gray-lighter;
      }

      &.active
      {
        background-color: $btn-primary-bg;
      }

      &.old
      {
        color: $gray-light;
      }

      &.disabled,
      &.disabled:hover
      {
        color: $gray-light;
      }
    }
  }
  th
  {
    &.next,
    &.prev
    {
      font-size: $font-size-base * 1.5;
    }
    &.disabled,
    &.disabled:hover
    {
      color: $gray-light;
    }
  }
  thead tr:first-child th
  {
    &:hover
    {
      background: $gray-lighter;
    }
  }

  .btn:not(.btn-primary){
    color: darken($link-color, 20%);

    &:hover{
      @include box-shadow(none);
    }
  }
}

/**
 * Bootstrap Colorpicker
 * setting correct urls
 */

.colorpicker-saturation {
  background-image: url("#{$libs-compiled-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/saturation.png");;
}

.colorpicker-hue {
  background-image: url("#{$libs-compiled-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/hue.png");
}

.colorpicker-alpha,
.colorpicker-color {
  background-image: url("#{$libs-compiled-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/alpha.png");
}

.colorpicker.colorpicker-horizontal .colorpicker-hue {
  background-image: url("#{$libs-compiled-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/hue-horizontal.png");
}

.colorpicker.colorpicker-horizontal .colorpicker-alpha {
  background-image: url("#{$libs-compiled-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/alpha-horizontal.png");
}
