@mixin bold-font{
  //not actually bold since 1.3
  //font-weight: bold;
  font-weight: $font-weight-base;
  color: $boldTextColor;
}

@mixin invalid-border {
  border-color: $orange;
  @include box-shadow(inset 0 1px 1px rgba($red,.075));
}

@mixin sidebar-icons($class){
  .sidebar#{$class}{
    width: auto;
    margin: $sidebar-mt 0 0 1.6%;

    h2{
      display: none;
    }

    .panel-collapse li a{
      width: 1px;
      padding-left: 10px;
      @include transition(width .3s);
    }

    .panel-collapse.open li a{
      @media (min-width: 768px) {
        width: 80px;
      }
    }
  }

  .side-nav#{$class}{

    li{
      a{
        padding: 8px 16px;
        text-align: center;

        i[class*=fa]{
          margin-right: 0;
          float: none;
        }
      }

      .name{
        display: none;
      }
    }

    @media (min-width: 768px) {
      .panel-collapse{
        .panel-collapse{ //third level
          .panel-collapse > li a{ //fourth level
            padding-left: 10px;
            padding-right: 10px;
          }

          > li a{
            padding-left: 10px;
            padding-right: 10px;
          }
        }

        a[data-toggle="collapse"]{
          &:before{
            display: none;
          }
          &:after{
            font-family: FontAwesome;
            content: "\f107";
            display: block;
            float: none;
            margin-right: 0;
            margin-left: 0;
            @include transition(transform .3s ease-in-out)
          }
          &.collapsed:after{
            @include transform(rotate(-90deg));
          }
        }
      }
    }
  }

  .sidebar-on-right .side-nav#{$class} > li.active > a,
  .side-nav#{$class} > li.active > a{
    border-left: none;
    border-right: none;
    padding-left: 16px;
  }

  .wrap#{$class}{
    margin-left: 62px;
  }

  .sidebar-hidden{
    .sidebar{
      display: none;
    }

    .wrap{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .logo#{$class}{
    left: 1.6%;
    padding-left: 5px;
    width: 40px;
    top: 13px;
  }
}

@mixin sidebar-settings{
  .settings{
    .btn-sm{
      padding: 2px 8px;
    }
  }
}

// Block level inputs
@mixin input-block-level {
  display: block;
  width: 100%;
  min-height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  @include box-sizing(border-box); // Makes inputs behave like true block-level elements
}